body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input, button {
    display: block;
    margin-bottom: 10px;
}

#cardContainer {
    margin-top: 20px;
}

.baseball-card {
    position: relative;
    width: 960px; /* Adjust based on your template image size */
    height: 720px; /* Adjust based on your template image size */
    background-image: url('images/template.png');
    background-size: cover;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-image {
    position: absolute;
    top: 150px; /* Adjust based on where you want the photo */
    left: 20px; /* Adjust based on where you want the photo */
    width: 300px; /* Adjust based on your template image size */
    height: 300px; /* Adjust based on your template image size */
    border-radius: 10px;
}

.card-text {
    position: absolute;
    bottom: 190px; /* Adjust based on where you want the text */
    left: 20px; /* Adjust based on where you want the text */
    font-size: 18px;
    font-weight: bold;
    color: #000; /* Adjust based on your template design */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
}

.card-field {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    word-wrap: break-word; /* Ensure text wraps within the container */
    overflow-wrap: break-word; /* Alternative for more compatibility */
}


.name {
    bottom: 190px;
    left: 10px;
    text-align: left;
    font-weight: bold;
}

.time {
    top: 62px;
    left: 10px;
    text-align: left;
    font-weight: bold;
}

.location {
    bottom: 160px;
    left: 10px;
    text-align: left;
    font-weight: bold;
}

.bio {
    top: 560px;
    left: 10px;
    bottom: 10px;
    max-width: 300px;
    text-align: left;
    font-weight: bold;
}

.team {
    top: 62px;
    left: 405px;
    
    transform: translateX(-50%);
    font-weight: bold;
}

.notes {
    top: 100px;
    left: 350px;
    right: 10px;
    bottom: 10px;
    text-align: left;
    font-weight: bold;
}